{% extends 'nav.html' %}

{% block content %}
    <h1 class="display-4 text-center mb-5">Enter your Login Credentials!</h1>
    <form action="#" method="post">
      {% if failed == True %}
      <p class="text-center bg-danger text-white">Login Credentials Not found!</p>
      {% endif %}
      <div class="d-flex flex-column align-items-center justify-content-center">
            <input type="text" name="username" class="form-control w-25 mt-1" placeholder="Username">
            <input type="password" name="password" class="form-control w-25 mt-1" placeholder="Password">
            <button type="submit" class="btn btn-primary mt-2 w-25">Login!</button>
            <p>Don't have an account? Register <a href="/register">here</a>!</p>
      </div>
    </form>

{% endblock %}